#combat-popout{
    min-height: 1vh !important;
    max-height: none !important;
    width: calc(100vw - 120px - 350px) !important;
    height: 140px !important;
    top: 10px !important;
    left: 120px !important;
}


#combat-popout .combatant{
    flex-direction: column;
    max-width: 70px;
    align-items: center;
    max-height: 150px;
}
#combat-popout #combat-tracker{
    display: flex;
    height: 150px;
    margin: none !important;
}
#combat-popout #combat-round{
    display: none;
    position: absolute;
    width: -webkit-fill-available;
    z-index: 100;
    text-align: center;
    background: #4a4a4af0;
    border-bottom: 2px groove #444;
    opacity: 0;
    transition: opacity 0.5s;
}
#combat-popout #combat-round:hover{
    opacity: 1;
}

#combat-popout #combat-controls{
    margin: 0;
    border-top: 2px groove #444;
    padding-top: 4px;
    position: absolute;
    width: -webkit-fill-available;
    background: #00000099;
    opacity: 0;
    transition: opacity 0.5s;
    top: 145px;
    border-radius: 5px;
}

#combat-popout #combat-controls:hover{
    opacity: 1;
}

#combat-popout li.combatant .token-initiative{
    position: absolute;
    top: 35px;
    opacity: 0.1;
    margin-top: 0.3em;
    transition: opacity 0.5s;
}

#combat-popout li.combatant .token-initiative:hover{
    opacity: 0.8;
}

#combat-popout li.combatant .token-image{
    margin: 0.3em 0 0 0;
}

#combat-popout li.combatant .token-name{
    flex-direction: column-reverse;
}    